
[*.{cg,cginc,compute,hlsl,hlsli,hlslinc,usf,ush}]
indent_style = tab
indent_size = tab
tab_width = 4

[*]

# ReSharper properties
resharper_align_multiline_array_and_object_initializer = true
resharper_align_multiline_calls_chain = true
resharper_align_multiline_expression = true
resharper_align_multiline_expression_braces = true
resharper_align_multiline_parameter = true
resharper_align_multiline_switch_expression = true
resharper_blank_lines_after_block_statements = 0
resharper_continuous_line_indent = none
resharper_cpp_indent_style = tab
resharper_cpp_int_align_comments = true
resharper_cpp_max_line_length = 153
resharper_cpp_space_after_keywords_in_control_flow_statements = false
resharper_cpp_type_declaration_braces = end_of_line
resharper_csharp_align_first_arg_by_paren = true
resharper_csharp_blank_lines_around_field = 0
resharper_csharp_blank_lines_around_single_line_invocable = 1
resharper_csharp_insert_final_newline = true
resharper_csharp_max_line_length = 154
resharper_indent_preprocessor_directives = do_not_change
resharper_indent_preprocessor_if = usual_indent
resharper_int_align_declaration_names = true
resharper_keep_existing_attribute_arrangement = true
resharper_place_expr_accessor_on_single_line = true
resharper_place_expr_property_on_single_line = true
resharper_remove_blank_lines_near_braces_in_declarations = false
resharper_simple_embedded_statement_style = on_single_line
resharper_toplevel_function_definition_return_type_style = on_single_line
resharper_wrap_after_expression_lbrace = false
resharper_wrap_array_initializer_style = chop_if_long
resharper_wrap_before_expression_rbrace = false
